.message {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    div:first-child {
        width: 80%;
    }
    .text {
        background-color: #f4f8fb;
        padding: 8px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: relative;
        p {
            margin: 0;
            padding: 0;
        }
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 37%;
            left: -4px;
            z-index: 1;
            background-color: #f4f8fb;
            transform: rotate(45deg);
        }
    }
    .username {
        margin: 0;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}
.my-message {
    justify-content: flex-end;
    .username {
        background-color: #f0cbb3;
    }
    .text {
        &:before {
            right: -5px;
        }
    }
}
.income-message {
    justify-content: flex-start;
    .username {
        background-color: #becbd9;
    }
    .text {
        &:before {
            left: -5px;
        }
    }
}
